{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-4">
		<h1 class="text-center">
			{% block title %}
				{{ npc.name }}
			{% endblock %}
		</h1>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card">
					<div class="card-body">
						<table class="table">
							<tbody>
								<tr>
									<th>Id</th>
									<td>{{ npc.id }}</td>
								</tr>
								<tr>
									<th>Nom</th>
									<td>{{ npc.name }}</td>
								</tr>
								<tr>
									<th>Race</th>
									<td>{{ npc.race.name }}</td>
								</tr>
								<tr>
									<th>Description</th>
									<td>{{ npc.description }}</td>
								</tr>
								<tr>
									<th>Santé</th>
									<td>{{ npc.health }}</td>
								</tr>
								<tr>
									<th>Force</th>
									<td>{{ npc.strength }}</td>
								</tr>
								<tr>
									<th>Intelligence</th>
									<td>{{ npc.intelligence }}</td>
								</tr>
								<tr>
									<th>Dexterité</th>
									<td>{{ npc.dexterity }}</td>
								</tr>
								<tr>
									<th>Défense</th>
									<td>{{ npc.defense }}</td>
								</tr>
								<tr>
									<th>Karma</th>
									<td>{{ npc.karma }}</td>
								</tr>
								<tr>
									<th>Image</th>
									<td>
									{% if npc.picture %}										
										<img class="img-fluid" src="{{ asset(npc.picture) }}" alt="{{ 'image de ' ~ npc.name }}">{{ npc.picture }}
									{% endif %}
									</td>
								</tr>
								<tr>
									<th>Boss</th>
									<td>{{ npc.isBoss ? 'Oui' : 'Non' }}</td>
								</tr>
								<tr>
									<th>Hostile</th>
									<td>{{ npc.hostility ? 'Oui' : 'Non' }}</td>
								</tr>
								<tr>
									<th>XP gagné</th>
									<td>{{ npc.xpEarned }}</td>
								<tr>
									<th>Inventaire</th>
									<td>
										{% for item in items %}
											{{item.name}}
											<br>
										{% endfor %}
									</td>
								</tr>
							</tbody>
						</table>
						{% if is_granted('ROLE_GAMEMASTER') %}
							<a class='btn btn-warning  m-1' href="{{ path('app_npc_edit', {'id': npc.id}) }}">Modifier</a>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							{{ include('npc/_delete_form.html.twig') }}
						{% endif %}
						<a class='btn btn-primary  m-1' href="{{ path('app_npc_index') }}">Retour à la liste</a>

					</div>
				</div>

			</div>
		</div>

	</div>
{% endblock %}
