{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-4">
		<h1 class='text-center'>
			{% block title %}Liste des Héros
			{% endblock %}
		</h1>
		<a class='btn btn-primary show' href="{{ path('app_home') }}">Retour à l'Accueil</a>
		{% if is_granted('ROLE_GAMEMASTER') %}
			<a class="mb-2 btn btn-success float-end" href="{{ path('app_hero_new') }}">Ajouter un nouveau héro</a>	
		{% endif %}
		
		<table class="table table-hover mt-4">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Class</th>
					<th>Santé Max</th>
					<th>Santé</th>
					{# <th>Force</th>
										<th>Intelligence</th>
										<th>Dexterité</th>
										<th>Défense</th>
										<th>Karma</th>
										<th>Xp</th> #}
					<th>Image</th>
					<th>Progression</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for hero in heroes %}
					<tr>
						<td>{{ hero.id }}</td>
						<td>{{ hero.name }}</td>
						<td>{{ hero.heroClass.name }}</td>
						<td>{{ hero.maxHealth }}</td>
						<td>{{ hero.health }}</td>
						{# <td>{{ hero.strength }}</td>
												<td>{{ hero.intelligence }}</td>
												<td>{{ hero.dexterity }}</td>
												<td>{{ hero.defense }}</td>
												<td>{{ hero.karma }}</td>
												<td>{{ hero.xp }}</td> #}
						<td>
							{% if hero.picture %}
								<img class="img-fluid otherTableImg" src="{{ asset(hero.picture.path) }}" alt="{{ 'image de ' ~ hero.name }}">
							{% endif %}
						</td>
						<td>{{ hero.progress }}</td>
						<td>
							<a class="btn btn-primary float-end  m-1" href="{{ path('app_hero_show', {'id': hero.id}) }}">Voir</a>
							{% if is_granted('ROLE_GAMEMASTER') %}
								<a class="btn btn-warning float-end  m-1" href="{{ path('app_hero_edit', {'id': hero.id}) }}">Modifier</a>
								{{ include('hero/_delete_form.html.twig') }}
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="13">Aucune donnée trouvée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
