{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-4">
		<h1 class="text-center">
			{% block title %}
				{{ hero.name }}
			{% endblock %}
		</h1>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card">
					<div class="card-body">
						<table class="table">
							<tbody>
								<tr>
									<th>Id</th>
									<td>{{ hero.id }}</td>
								</tr>
								<tr>
									<th>Non</th>
									<td>{{ hero.name }}</td>
								</tr>
								<tr>
									<th>Class</th>
									<td>{{ hero.heroClass.name }}</td>
								</tr>
								<tr>
									<th>Santé Max</th>
									<td>{{ hero.maxHealth }}</td>
								</tr>
								<tr>
									<th>Santé</th>
									<td>{{ hero.health }}</td>
								</tr>
								<tr>
									<th>Force</th>
									<td>{{ hero.strength }}</td>
								</tr>
								<tr>
									<th>Intelligence</th>
									<td>{{ hero.intelligence }}</td>
								</tr>
								<tr>
									<th>Dexterité</th>
									<td>{{ hero.dexterity }}</td>
								</tr>
								<tr>
									<th>Défense</th>
									<td>{{ hero.defense }}</td>
								</tr>
								<tr>
									<th>Karma</th>
									<td>{{ hero.karma }}</td>
								</tr>
								<tr>
									<th>Xp</th>
									<td>{{ hero.xp }}</td>
								</tr>
								<tr>
									<th>Image</th>
									<td>
									{% if hero.picture %}
									<img class="img-fluid otherTableImg" src="{{  asset(hero.picture.path) }}" alt="{{ 'image de ' ~ hero.name }}"> <br> {{ hero.picture }}
									{% endif %}
									</td>
								</tr>
								<tr>
									<th>Progression</th>
									<td>{{ hero.progress }}</td>
								</tr>
								<tr>
									<th>Inventaire</th>
									<td>
										{% for item in items %}
											{{item.name}}
											<br>
										{% endfor %}
									</td>
								</tr>
							</tbody>
						</table>
						{% if is_granted('ROLE_GAMEMASTER') %}
						<a class='btn btn-warning  m-1' href="{{ path('app_hero_edit', {'id': hero.id}) }}">Modifier</a>
						{{ include('hero/_delete_form.html.twig') }}
							{% endif %}
						<a class='btn btn-primary  m-1' href="{{ path('app_hero_index') }}">Retour à la liste</a>
					</div>
				</div>

			</div>
		</div>

	</div>
{% endblock %}
