{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-4">
		<h1 class="text-center">
			{% block title %}
				Ending
			{% endblock %}
		</h1>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card">
					<div class="card-body">
						<table class="table">
							<tbody>
								<tr>
									<th>Id</th>
									<td>{{ ending.id }}</td>
								</tr>
									<tr>
									<th>Evénement</th>
									<td>{{ ending.event.Title }} <br>  <img class="img-fluid otherTableImg" src="{{ ending.event.picture }}" alt="{{ 'image de ' ~ ending.event.title }}"></td> </td>
								</tr>
								<tr>
									<th>Ending</th>
									<td>{{ ending.content }}</td>
								</tr>
								<tr>
									<th>Vers Type</th>
									<td>{{ ending.eventType.name }}</td>
								</tr>
							</tbody>
						</table>

						<a class='btn btn-warning  m-1' href="{{ path('app_ending_edit', {'id': ending.id}) }}">Modifier</a>
						{{ include('ending/_delete_form.html.twig') }}
						<a class='btn btn-primary  m-1' href="{{ path('app_ending_index') }}">Retour à la liste</a>

					</div>
				</div>

			</div>
		</div>

	</div>
{% endblock %}
