{% extends 'base.html.twig' %}


{% block body %}
	<div class="container my-4">
		<h1 class="text-center">
			{% block title %}
				Biome :
				{{ biome.name }}
			{% endblock %}
		</h1>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="card">
					<div class="card-body">
						<table class="table">
							<tbody>
								<tr>
									<th>Id</th>
									<td>{{ biome.id }}</td>
								</tr>
								<tr>
									<th>Nom</th>
									<td>{{ biome.name }}</td>
								</tr>
								<tr>
									<th>Difficulté</th>
									<td>{{ biome.difficulty }}</td>
								</tr>
							</tbody>
						</table>
						{% if is_granted('ROLE_GAMEMASTER') %}
							<a class='btn btn-warning  m-1' href="{{ path('app_biome_edit', {'id': biome.id}) }}">Modifier</a>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							{{ include('biome/_delete_form.html.twig') }}
						{% endif %}
						<a class='btn btn-primary  m-1' href="{{ path('app_biome_index') }}">Retour à la liste</a>

					</div>
				</div>

			</div>
		</div>

	</div>
{% endblock %}
